#all
	display none
	padding-top 3rem
	&.is-visible
		display block
	.all__content
		display flex
		flex-wrap wrap
	.person
		width 50%
		max-width 40rem
		min-width 18rem
		margin-bottom 3rem
		p
			margin 0
			text-align center