#all
	display none
	&.is-visible
		display block
	.all__content
		display flex
		flex-wrap wrap
		margin-top 2rem
	.person
		width 50%
		max-width 40rem
		min-width 18rem
		margin-bottom 3rem
		p
			margin 0
			text-align center