svg.pudding-chart
	margin 0 auto
	display block
	user-select none
	
	&.show-result
		.node, .link, .letter
			display block
		.letter.is-visible
			display block
		.letter.is-correct text
			opacity 1
		.text-count.is-visible
			display block

	// strip of line divider
	.node
		display none
		&.is-visible
			display block
		&.is-guess
			// 
		&.is-correct
			// 

		rect
			opacity 0
	
	
	// the text
	.letter
		display none
		&.is-visible
			// display block
		&.is-guess
			display block
			text
				opacity 1
		// &.is-correct
		
		text
			font-family $sans
			font-weight bold
			text-transform uppercase
			opacity 0.75

		.text--bg
			fill none
			stroke-width 3px
			stroke $bg
			stroke-opacity 0.67
		
		.text--fg
			fill $fg

		.text-count
			set-type-size(x-small)
			display none
			&.text--bg
				stroke-width 2px

	// path between nodes
	.link
		stroke none
		display none
		&.is-visible
			display block
		&.is-guess
			// 
		&.is-correct
			// 


svg.show-tutorial
	.letter.is-visible
		display block
	.letter.is-correct text
		opacity 1
	.text-count.is-visible
		display block