#quiz
	padding-bottom 5rem

	.question__figure
		max-width 60rem
		margin 0 auto
		
	.question__person
		max-width 20rem
		margin 0 auto
		img
			max-width 8rem
			margin 0 auto
			border-radius 6px
		button
			margin 0 auto
			margin-top 1rem
			display block
			font-family $mono
			text-transform uppercase
			padding 0.5rem
			line-height 1
		svg
			vertical-align text-bottom
			width 1.5rem
			stroke $fg
			
		span
			margin-right 0.5em

	.question__response
		display flex
		justify-content center
		margin-top 2rem
		input
			font-family $mono
			font-size 32px
			line-height 32px
			padding 8px
			letter-spacing 8px
			text-transform uppercase
			width 28rem
			display block
			font-weight bold
			color $guess-dark
		button
			margin-left 0.5rem
			padding 1rem
			font-family $sans


	.question__nav
		margin 0 auto
		display flex
		max-width 38rem
		margin-top 0.5rem
		// justify-content flex-end
		visibility hidden
		&.is-visible
			visibility visible
		button
			background transparent
			border none
			border-radius 0
			padding 0
			border-bottom 1px solid $gray
			margin-right 1rem
			color $gray-dark
