#quiz
	padding-bottom 5rem
	
	.prose span
		// display block
		// set-type-size(root, true)
		color $wrong-dark
		// font-style italic

	.quiz__content
		padding-top 1rem
		opacity 0
		min-height 480px

	.question__figure
		max-width 60rem
		margin 0 auto
		
	.question__person
		max-width 20rem
		margin 0 auto
		p
			margin 0
			set-type-size(small, false)
			line-height 1
			text-align center
			margin-top 0.5em
			text-transform uppercase
			color $gray-dark
			letter-spacing 0.02em
		img
			max-width 8rem
			margin 0 auto
			border-radius 6px
		button
			margin 0 auto
			margin-top 1rem
			display block
			text-transform uppercase
			padding 0.5rem
			line-height 1

		.btn--phonetic
			background transparent
			border none
			border-radius 0
			padding 0
			margin 0 auto
			margin-top 0.5rem
			border-bottom 1px solid $gray
			color $gray-dark
			text-transform capitalize
			set-type-size(small, true)
	
			&.is-done
				border-color transparent
				cursor default
				&:hover
					background-color transparent

		span.is-guess
			font-family $mono
		svg
			vertical-align text-bottom
			width 1.5rem
			stroke $fg
			
		span
			margin-right 0.5em

	.question__response
		display flex
		flex-direction column
		justify-content center
		padding-top 2rem
		max-width 38rem
		margin 0 auto
		+mq('bp-4')
			flex-direction row
		input
			// font-family $mono
			text-transform uppercase
			display block
			font-weight bold
			color $guess-dark
			font-size 20px
			
			+mq('bp-4')
				width 27rem
				font-size 32px
				line-height 32px
				padding 8px
				letter-spacing 8px

			&:disabled
				cursor not-allowed
				opacity 0.67
			&.is-done
				color $wrong-dark
				&.is-correct
					color $correct-dark
		button
			padding 1rem
			font-family $sans
			margin-top 0.5rem
			width 100%
			+mq('bp-4')
				margin-top 0
				width 11.5rem
				margin-left 0.5rem
			&.is-next
				// background-color $gray-light
				// color $off-white

	.question__nav
		margin 0 auto
		display flex
		max-width 38rem
		margin-top 1rem
		// justify-content flex-end
		visibility hidden

		+mq('bp-4')
			margin-top 0.5rem

		&.is-visible
			visibility visible
		p
			margin 0
			font-weight 700
			color $gray-dark
			text-transform uppercase
			set-type-size(x-small, false)
			text-align right
			flex-grow 1
			letter-spacing 0.02em
			+mq('bp-4')
				set-type-size(small, false)
		button
			background transparent
			border none
			border-radius 0
			padding 0
			border-bottom 1px solid $gray
			margin-right 1rem
			color $gray-dark
			set-type-size(small, false)
			
			// +mq('bp-4')
			// 	set-type-size(root, false)

			&:hover
				background-color lighten($correct, 15)
				box-shadow none

	.question__message
		text-align center
		margin 0
		margin-top 1.5rem
		text-transform uppercase
		color $wrong-dark
		font-weight 700
		visibility hidden
		&.is-visible
			visibility visible
		&.is-correct
			color $correct-dark
		span
			font-weight 700
	
	.quiz__below 
		margin-top 1rem
		text-align center