#quiz
	padding-bottom 5rem

	.question__person
		max-width 15rem
		margin 0 auto
		img
			max-width 10rem
			margin 0 auto
		button
			margin 0 auto
			margin-top 0.5rem
			display block
			font-family $mono
			text-transform uppercase
			color $fg
			background $off-white
			border 1px solid $fg
			padding 0.5rem
			line-height 1
		svg
			vertical-align text-bottom
			width 1.5rem
			stroke $fg
			
		span
			margin-right 0.5em

	.question__response
		display flex
		justify-content center
		margin-top 1rem
		input
			font-family $mono
			font-size 32px
			line-height 32px
			padding 8px
			letter-spacing 8px
			text-transform uppercase
			width 30rem
			display block
			font-weight bold
		button
			padding 1rem
			border 1px solid $fg
			background $off-white
			font-family $sans


	.quiz__nav
		display flex
		justify-content center
		visibility hidden
		&.is-visible
			visibility visible
		button
			width 10rem
			margin 0 0.5rem