/* CUSTOM STORY STYLE */
html
	scroll-behavior smooth

.prose__hed
	margin 0

svg.pudding-chart
	margin 0 auto
	display block
	user-select none
	.node
		opacity 0
		&.is-hidden
			opacity 0
		
		&.is-guess
			opacity 1
			text
				fill $fg

		&.is-reveal
			opacity 1
			&.is-correct
				text
					fill green
			&.is-guess
				text
					fill $fg

		
				
		text
			font-family monospace
			font-weight bold
			text-transform uppercase
			opacity 0.5

		.text--bg
			fill none
			stroke-width 3px
			stroke $bg
		
		.text--fg
			fill $fg

	.link
		stroke none
		fill-opacity 1
		opacity 0.5
		&.is-hidden
			opacity 0
		&.is-guess
			opacity 1
			fill black
		&.is-reveal
			opacity 1
			&.is-correct
				fill black
	
button
	padding 1rem
	border 1px solid $fg
	background $off-white
	font-family $sans

	&.button--skip
		border none
		background transparent
		border-bottom 1px solid currentColor
		padding 0
		margin 0