/* CUSTOM STORY STYLE */
html
	scroll-behavior smooth

.prose p
	set-type-size(large, true)

.prose__hed
	margin 0
	margin-top 3rem
	set-type-size(x-large, true)
	font-weight 700

#tutorial figure
	max-width 40rem
	margin 0 auto

svg.pudding-chart
	margin 0 auto
	display block
	user-select none
	.node
		opacity 0
		
		&.is-hidden
			opacity 0
		
		&.is-guess
			opacity 1
			text
				fill $black

		&.is-reveal
			opacity 1
			&.is-correct
				text
					fill $black
			&.is-guess
				text
					fill $black

		
		rect
			opacity 1
				
		text
			font-family $sans
			font-weight bold
			text-transform uppercase
			opacity 1

		.text--bg
			fill none
			stroke-width 3px
			stroke $bg
			stroke-opacity 0.67
		
		.text--fg
			fill $fg

	.link
		stroke none
		fill-opacity 1
		opacity 0.33
		&.is-hidden
			opacity 0
		&.is-guess
			opacity 0.85
		&.is-reveal
			opacity 0.85
			&.is-correct
				// 
	
button
	padding 1rem
	border 1px solid $fg
	background $off-white
	font-family $sans

	&.button--skip
		border none
		background transparent
		border-bottom 1px solid currentColor
		padding 0
		margin 0