/* CUSTOM STORY STYLE */
html
	scroll-behavior smooth

.prose p
	set-type-size(medium, true)

.prose__hed
	margin 0
	margin-top 3rem
	set-type-size(x-large, true)
	font-weight 700

#tutorial
	figure
		max-width 60rem
		margin 0 auto

	.btn--britney
		padding 0 0.5em
		svg
			width 1em
			margin-left 0.5em
			vertical-align middle
			transform translateY(-7.5%)

	svg .node
		opacity 1
		&.is-hidden
			opacity 0


svg.pudding-chart
	margin 0 auto
	display block
	user-select none
	.node
		opacity 1

		&.is-guess
			opacity 1

		&.is-hidden
			opacity 0

		&.is-reveal
			opacity 1
			// &.is-correct
			// &.is-guess

		&.is-empty
			display none
		
		rect
			opacity 1

	.letter
		opacity 0

		&.is-guess
			opacity 1

		&.is-hidden
			opacity 0

		&.is-reveal
			opacity 1

			// &.is-correct
			// &.is-guess
		&.is-empty
			display none

		text
			font-family $sans
			font-weight bold
			text-transform uppercase
			opacity 1

		.text--bg
			fill none
			stroke-width 3px
			stroke $bg
			stroke-opacity 0.67
		
		.text--fg
			fill $fg

		.text-count
			set-type-size(x-small)
			opacity 0
			&.text--bg
				stroke-width 2px
			&.is-visible
				opacity 1

	.link
		stroke none
		fill-opacity 1
		opacity 0.33
		
		&.is-guess
			opacity 0.85
		
		&.is-hidden
			opacity 0

		&.is-reveal
			opacity 0.85
		
			&.is-correct
				opacity 1
	
button
	padding 1rem
	border 1px solid $fg
	background $off-white
	font-family $sans

	&.button--skip
		border none
		background transparent
		border-bottom 1px solid currentColor
		padding 0
		margin 0