#tutorial
	figure
		max-width 60rem
		margin 0 auto
		min-height 420px

	.btn--britney
		padding 0 0.5em
		svg
			width 1em
			margin-left 0.5em
			vertical-align middle
			transform translateY(-7.5%)