<section id='graphic'>
	<div class='graphic__question'>
		<div class='question__person'>
			<img src='assets/images/britney.png'>
			<p><span>???????</span> Spears</p>
		</div>
		<div class='question__response'>
			<input class='question__input' maxlength='16' spellcheck='false' value='b'>
			<button class='btn'>I Think I've Got It</button>
		</div>
	</div>
		<div class='graphic__result'>
			<figure><svg>
					<g>
						<g class='g-links'>
		
						</g>
						<g class='g-nodes'>
		
						</g>
					</g>
				</svg></figure>
		</div>
</section>