<section id='graphic'>
	<div class='graphic__result'>
		<figure><svg><g>
			<g class='g-links'>
			
			</g>
			<g class='g-nodes'>

			</g>
		</g></svg></figure>
	</div>
	<div class='graphic__question'>
		<input class='question__input' maxlength='16' spellcheck='false' value='g'>
		<button class='btn'>Done</button>
	</div>
</section>